<div class="container-fluid">
  <div class="homepage-container row with-border">
    <div class="homepage-block col-md-3 with-border">sfdsdf</div>
    <div class="homepage-block col-md-3 with-border">sdfsd</div>
    <div class="homepage-block col-md-3 with-border">sdfsdf</div>
  </div>

  <div class="homepage-container with-border">gsfdgsdfgsdf</div>
</div>