<div class="container-fluid">
  <div class="row">
    <div class="card col-md-5 col employee-block with-border">
      <h3 class="card-title py-3 text-center">Pending confirmation</h3>
      <%= render partial: 'pending_audit_confirmations', 
          locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
    </div>

    <div class="col-md-5 col card card-body employee-block">
    </div>
    
  </div>
</div>